
.home-container {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:25% 25% 25% 25%;
  }
  
  .shoe-name {
    grid-column: 4/4;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 500;
    margin: 0;
  }
  .shoe-container{
    grid-column: 2/3;
  }
  
  .shoe-image {
    transform: rotate(-40deg);
    width: 700px;
  }
  

  
  .description-container {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .description-container p {
    grid-row: 1;
    border-right: 8px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    

  }
  
  .product-cards-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 18rem;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px;
  }
  