.product-container {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr; 
  }
  
  .image-container {
    height: 600px;
    display: grid;
    grid-template-columns: 20% 1fr; 
    grid-template-rows: 20% 20% 20% 20%; 
    gap: 10px;
    overflow: hidden;
    padding-right: 50px;
  }
  
  .image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  .img-1{
    grid-column: 2;
    grid-row: 1 /span 4;
  }

  .buttons{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  

  }
  .product-info h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  .product-info p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .product-info h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  .price {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  

  

